---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
<style>{% include "css/message-box.css" %}</style>
<div class="message-box">


	<p>This website contains the canonical rankings of various things. Any rankings that conflict with the rankings presented herein are incorrect. Maintainers are advised to update said rankings accordingly with all due haste and care.</p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
